@charset "UTF-8";
.infoRightBar {
  width: 1031px;
  height: 100%;
  background-color: #fff;
  padding: 30px 30px 26px 26px;
}
.infoRightBar .nav-tabs {
  width: 249px;
}
.infoRightBar .nav-tabs li a {
  font-size: 22px;
  color: #666;
  font-weight: bolder;
  border: none;
  margin-right: 0;
  padding: 0 10px 10px 10px;
}
.infoRightBar .nav-tabs li a:hover {
  background-color: transparent;
  border: none;
}
.infoRightBar .nav-tabs li a:focus {
  color: #e7141a;
  border-bottom: 2px solid #e7141a;
  border-top: none;
  border-right: none;
  border-left: none;
}
.infoRightBar .nav-tabs > li.active > a,
.infoRightBar .nav-tabs > li.active > a:hover,
.infoRightBar .nav-tabs > li.active > a:focus {
  border-bottom: 2px solid #e7141a;
}
.infoRightBar .tab-content .tab-pane .container-fluid {
  margin: 24px 47px 92px 31px;
}
.infoRightBar .tab-content .tab-pane .container-fluid .col-md-3 {
  position: relative;
}
.infoRightBar .tab-content .tab-pane .container-fluid .col-md-3 a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.infoRightBar .tab-content .tab-pane .container-fluid .col-md-3 a img {
  margin: 19px 78px 7px 78px;
}
.infoRightBar .tab-content .tab-pane .container-fluid .col-md-3 a span {
  margin-bottom: 16px;
  font-size: 16px;
  color: #666;
}
.infoRightBar .tab-content .tab-pane .container-fluid .col-md-3 a .boxPanel {
  display: none;
}
.infoRightBar .tab-content .tab-pane .container-fluid .col-md-3 a:hover .boxPanel {
  width: 224px;
  height: 142px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 98px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 122px;
}
.infoRightBar .tab-content .tab-pane .container-fluid .bottomLine {
  border-bottom: 1px solid #CDCDCD;
}
.infoRightBar .tab-content .tab-pane .container-fluid .leftLine {
  border-left: 1px solid #CDCDCD;
}
.infoRightBar .tab-content .listTitle {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 0 78px 12px 12px;
  border-bottom: 1px solid #CDCDCD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoRightBar .tab-content .listTitle .leftTitle {
  font-size: 20px;
  color: #666;
}
.infoRightBar .tab-content .listTitle .righTitle a {
  width: 100px;
  height: 34px;
  font-size: 14px;
  color: #666666;
  text-align: center;
}
.infoRightBar .tab-content .listTitle .righTitle a:nth-of-type(2) {
  margin-right: 26px;
}
.infoRightBar .tab-content .listTitle .righTitle a:nth-of-type(1) {
  margin-right: 11px;
}
.infoRightBar .tab-content .listTitle .righTitle input {
  width: 202px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  padding-left: 10px;
}
.infoRightBar .tab-content .listTitle .righTitle .searchBtn {
  display: inline-block;
  margin-left: -36px;
  cursor: pointer;
}
.infoRightBar .tab-content .listIcon {
  height: 100%;
  width: 100%;
  padding-left: 34px;
  margin-top: 14px;
  overflow: hidden;
}
.infoRightBar .tab-content .listIcon .leftListIcon {
  height: 57px;
  width: 82px;
  text-align: center;
  float: left;
  margin-right: 26px;
  padding-top: 5px;
}
.infoRightBar .tab-content .listIcon .leftListIcon span {
  font-size: 16px;
  color: #666;
}
.infoRightBar .tab-content .listIcon ul {
  width: 717px;
  height: 100%;
  padding-left: 0;
  margin-bottom: 0;
  display: inline-block;
  float: left;
  margin-right: 13px;
}
.infoRightBar .tab-content .listIcon ul li {
  list-style: none;
  height: 44px;
  width: 44px;
  float: left;
  margin-right: 11px;
  margin-bottom: 11px;
}
.infoRightBar .tab-content .listIcon ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.infoRightBar .tab-content .listIcon ul li a:hover {
  text-decoration: none;
}
.infoRightBar .tab-content .listIcon ul li a img {
  height: 44px;
  width: 44px;
}
.infoRightBar .tab-content .listIcon .rightListIcon {
  height: 57px;
  width: 45px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoRightBar .tab-content .listIcon .rightListIcon a {
  font-size: 12px;
}
.infoRightBar .tab-content .listIcon .rightListIcon a img {
  margin-left: 1px;
}
.infoRightBar .tab-content .listTag {
  margin-top: 35px;
  height: 100%;
  width: 100%;
  padding-left: 34px;
  overflow: hidden;
}
.infoRightBar .tab-content .listTag .leftListIcon {
  height: 112px;
  width: 82px;
  text-align: left;
  float: left;
  margin-right: 26px;
  padding-top: 5px;
}
.infoRightBar .tab-content .listTag .leftListIcon span {
  font-size: 16px;
  color: #666;
}
.infoRightBar .tab-content .listTag ul {
  width: 717px;
  height: 100%;
  padding-left: 0;
  margin-bottom: 0;
  display: inline-block;
  float: left;
  margin-right: 13px;
}
.infoRightBar .tab-content .listTag ul li {
  list-style: none;
  float: left;
  margin-right: 7px;
  margin-bottom: 10px;
}
.infoRightBar .tab-content .listTag ul li a {
  display: inline-block;
  background-color: #E8E8E8;
  text-decoration: none;
  width: 72px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #8e8e8c;
}
.infoRightBar .tab-content .listTag ul li a:hover {
  text-decoration: none;
}
.infoRightBar .tab-content .listTag ul li a img {
  height: 44px;
  width: 44px;
}
.infoRightBar .tab-content .listTag .rightListIcon {
  height: 80px;
  width: 45px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoRightBar .tab-content .listTag .rightListIcon a {
  font-size: 12px;
}
.infoRightBar .tab-content .listTag .rightListIcon a img {
  margin-left: 1px;
}
.infoRightBar .tab-content .listTable {
  width: 100%;
  height: 100%;
  margin-top: 33px;
  background-color: #fff;
}
.infoRightBar .tab-content .listTable .table {
  text-align: center;
  margin-bottom: 38px;
}
.infoRightBar .tab-content .listTable .table tr:last-child {
  border-bottom: 1px solid #cdcdcd;
}
.infoRightBar .tab-content .listTable .table tr th {
  text-align: center;
  line-height: 50px;
  padding: 0;
  font-size: 16px;
  color: #666;
}
.infoRightBar .tab-content .listTable .table tr td {
  font-size: 14px;
  color: #666;
  padding: 21px 8px 17px 8px;
}
.infoRightBar .tab-content .listTable .table tr td:nth-of-type(5) {
  color: #0E8C11;
}
.infoRightBar .tab-content .listTable .table tr td:nth-of-type(6) {
  color: #0E8C11;
}
.infoRightBar .tab-content .listTable .table tr td a {
  margin-right: 10px;
}
.infoRightBar .tab-content .listTable .loadingMore {
  text-align: center;
  margin-bottom: 26px;
  font-size: 14px;
  color: #666666;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #e7141a;
  background-color: transparent;
}
