<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  
<head th:replace="web/common/header :: header(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/web/vendor/bootstrap/dist/css/bootstrap.css(v=${vtimestamp})}" >
    <link rel="stylesheet" th:href="@{/web/css/mainInfo.css(v=${vtimestamp})}">
    <link rel="stylesheet" th:href="@{/web/css/AccountInfo/accountBind.css(v=${vtimestamp})}">
    <title>班集-班集工具</title>
</head>
<body>
<div id="mainInfo">
	<!--top_nav_bar S -->
    <th:block th:replace="web/common/top_nav_bar :: top_bar"/>
    <!--top_nav_bar E -->
    
    <div class="infoContent">
    
        <!--left_nav_bar S -->
        <th:block th:replace="web/common/left_nav_bar :: left_bar"/>
        <!--left_nav_bar E -->
        
		<div class="infoRightBar pull-right">
			<span style="font-size:16px;color: #666;font-weight: bold; margin: 30px;">更多功能</span>
           <!--  <ul class="nav nav-tabs" id="tab-control">
                <li role="presentation" class="active">
                    <a href="/s/f/account/list" style="margin-right: 26px;">绑定账号</a>
                </li>
                <li role="presentation">
                    <a href="/s/f/accountList/list">账号列表</a>
                </li>
            </ul> -->
		    <div class="tab-content">
			    <div class="tab-pane active account-bind-panel" role="tabpanel" id="account-bind">
			        <div class="accountTitle">
                      <span>下面的工具也许会随着时间的推移,人家网站的升级而查询失效</span> 
                    </div>
                    <div class="platFormList">
                      <div class="ListInnerBox">
                            <a rel="noreferrer" href="/web/other/chengji" class="innerBox">
                                <div class="leftInner">
                                    <img src="/web/image/other/chengji.jpg" alt="">
                                    <span>查询成绩</span>
                                </div>
                                <div class="rightInner"></div>
                            </a>
                        </div>
                      <div class="ListInnerBox">
                            <a href="" class="innerBox">
                                <div class="leftInner">
                                    <img src="/web/image/other/siliuji.jpg" alt="">
                                    <span>查四六级</span>
                                </div>
                                <div class="rightInner"></div>
                            </a>
                        </div>
                      <div class="ListInnerBox">
                            <a href="" class="innerBox">
                                <div class="leftInner">
                                    <img src="/web/image/other/putonghua.jpg" alt="">
                                    <span>普通话考试</span>
                                </div>
                                <div class="rightInner"></div>
                            </a>
                        </div>
                      <div class="ListInnerBox">
                            <a href="" class="innerBox">
                                <div class="leftInner">
                                    <img src="/web/image/other/tiyu.jpg" alt="">
                                    <span>体育成绩</span>
                                </div>
                                <div class="rightInner"></div>
                            </a>
                        </div>
                        <div class="ListInnerBox">
                            <div class="lastInner">
                                <img src="/web/image/accountpage/plusgray.png" alt="">
                                <span>敬请期待</span>
                            </div>
                        </div>
                    </div>
                    <div class="accountTitle" style="margin-top: 0; display: none">
                        <h3>视频账号</h3>
                    </div>
                    <div class="platFormList" style="display: none">
                        <div class="ListInnerBox" th:each="accountType,accountTypeStat : ${videoList}" th:style="${accountTypeStat.index==6}?'margin-right: 0;':''">
                         	<a th:if="${accountType.id==2}" th:href="@{'/s/f/account/add/'+${accountType.id}+'?vqiehao=1'}"  target="_blank" class="innerBox">
	                            <div class="leftInner">
	                                <img th:src="${accountType.logo}" alt="">
	                                <span th:text="${accountType.account_type}"></span>
	                            </div>
	                            <div class="rightInner"></div>
                            </a>
                            <a th:if="${accountType.id!=2}" th:href="@{'/s/f/account/add/'+${accountType.id}}"  target="_blank" class="innerBox">
	                            <div class="leftInner">
	                                <img th:src="${accountType.logo}" alt="">
	                                <span th:text="${accountType.account_type}"></span>
	                            </div>
	                            <div class="rightInner"></div>
                            </a>
                        </div>

                        <!--敬请期待 S-->
                        <div class="ListInnerBox">
                            <div class="lastInner">
                                <img src="/web/image/accountpage/plusgray.png" alt="">
                                <span>敬请期待</span>
                            </div>
                        </div>
                    </div>
			    </div>
		    </div>
    	</div>
    	
    </div>
    <!--footer S -->
        <th:block th:replace="web/common/footer :: footer"/>
    <!--footer E -->
	
</div>
</body>
<script th:src="@{/web/vendor/jquery/dist/jquery.js(v=${vtimestamp})}"></script>
<script th:src="@{/web/vendor/bootstrap/dist/js/bootstrap.js(v=${vtimestamp})}"></script>
<script type="text/javascript">
</script>


</html>