<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kunakun.mapper.ArticleMapper">

    <!--前台查询列表-->
    <select id="queryTitleAndTimeByTime" resultType="cn.kunakun.pojo.Article" parameterType="cn.kunakun.pojo.Article">
        SELECT
        title,
        click_hit as clickHit,
        create_time,
        summary,
        content,
        id,
        type
        FROM
        t_article
        WHERE 1=1
        <if test="type!=null and type != 0">
            AND type=#{type}
        </if>
        order by create_time desc

    </select>


</mapper>
