@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f2f0ed;
}
.container {
  display: flex;
  justify-content: center;
}
.container .row .serviceBox {
  padding: 0 12px;
  margin: 0 auto;
  padding-bottom: 37px;
}
.container .row .serviceBox .serviceTitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
  margin-top: 37px;
}
.container .row .serviceBox p {
  text-align: justify;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #666;
  margin: 0;
  line-height: 22px;
}
.container .row .serviceBox .serviceSmTitle {
  font-size: 18px;
  color: #333;
  margin: 20px 0;
}
